html {
  overflow-x: hidden;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
.bg-3759C1 {
  background-color: #3759c1 !important;
}

.bg-302F42 {
  background-color: #302f42;
}
.bg-191919 {
  background-color: #191919;
}
.fs-15 {
  font-size: 15px;
}
.text-gray {
  color: #b2b2b2;
}
.text-3759C1 {
  color: #3759c1;
}
.text-76 {
  font-size: 76px;
}
.text-45 {
  font-size: 45px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
